 <title>New Listing</title>

</head>

<body>

   <%= link_to "Sign in with Facebook", "/auth/facebook" %>

<div id="clearance" class="sign-in">
  <h2><%= t(".title") %></h2>

  <%= render partial: '/sessions/form' %>

</div>
