// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "listings"

html, body {
  height:100%;
}
body {
  display:flex;
  align-items:center;
}


.card {
  width: 25rem; 
  height: 27rem;
  border: solid, black;
  }